KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/head.o \
$(ARCHDIR)/boot/main.o \
$(ARCHDIR)/boot/console.o \
$(ARCHDIR)/boot/gdt.o \
$(ARCHDIR)/boot/idt.o \
$(ARCHDIR)/boot/a20.o \
$(ARCHDIR)/boot/pm.o \
$(ARCHDIR)/kernel/ioport.o \
$(ARCHDIR)/kernel/exception.o \
$(ARCHDIR)/kernel/pic.o \
$(ARCHDIR)/kernel/pit.o \
$(ARCHDIR)/kernel/setup.o